
p { color: #555; font-weight: bold; }
a { color: white; }
a:hover { text-decoration: underline; }

h1 { font-size: 100px; margin: 20px 0; color: #AA0000; }
h2 { margin-top: 30px; }

 pre { background: #eee; -moz-border-radius: 10px; color: #111; font-weight: bold; border: 2px solid pink; }
code { color: #ecc; }


#header { background: #000000; height: 185px; text-align: left; border-top: 0px solid pink; border-bottom: 0px solid pink; margin: 0; }
#header h1 { color: white; margin: 0 0; }
#header h2 { color: white; font-size: 14px; margin: 0; padding: 10px 0 5px 0; }

#nav { padding: 10px 20px 10px 20px; text-align: left; background: #AA0000; color: pink; margin: 0; }
#nav a { font-size: 90%; }

#main { background: white; color: red; border-bottom: 0px solid pink; padding: 10px 0 20px 0; }
#main h2,h3 { color: #AA0000; }

#footer { padding: 50px; text-align: center; background: #000; }
#footer .copyright { color: #AA0000; padding-top: 40px; font-family: monospace; font-weight: bold; font-size: 70%; line-height: 90%; }


.page { width: 800px; margin: 0 auto; }
