html { font-family: times; font-size: 16px; color: black; }
body { padding: 0; margin: 0; }

p { text-align: justify; margin: 20px 0; }

a { text-decoration: none; font-size: 10pt; color: tan;  font-weight: bold; }
a:hover { text-decoration: underline; }

h1 { font-size: 100px; margin: 20px; }

ul { margin: 0 auto; list-style-type: none; width: 300px; }
li { float: left; padding: 10px; text-align: center; }

pre { font-size: 90%; padding: 20px 0 10px 0; -moz-border-radius: 10px; font-family: courier, monospace; }
code { font-family: courier, monospace; }

